<!DOCTYPE html>
<html lang="en">
    

<%- include('../partials/head.ejs', {Style: "../../CSS/Style.css", myStyle: "../../CSS/agregarProducto.css" , title: "Producto Nuevo" }) %>

    <body>
        <div class="main-container">
            <%- include('../partials/header.ejs') %>
                <main>
                    <form action="/products/guardarProducto" method="post" enctype="multipart/form-data">
                        <h2>Agregar Producto</h2>
                        <div class="formulario">
                            <div class="label">
                                <label for="nombre">Nombre de Producto</label>
                                <label for="descripcion">Descripcion del Producto</label>
                                <label for="imagen">Subir Imagen del Producto</label>
                                <label for="categoria">Categoria</label>
                                <label for="precio">Precio del Producto</label>
                                <label for="especificaciones">Especificaciones Tecnicas</label>
                            </div>
                            <div class="input">
                                <input type="text" name="nombre" id="nombre" required>
                                <input type="text" name="descripcion" id="descripcion" required>
                                <input type="file" name="imagen" id="imagen" required>
                                <div><select name="categoria" id="categoria">
                                        <option value="Valor01">Electrodomesticos</option>
                                        <option value="Valor02">Refrigeracion</option>
                                        <option value="Valor03">Calefaccion</option>
                                        <option value="Valor04">Hogar</option>
                                    </select></div>
                                <input type="number" name="precio" id="precio" min="0" max="999999999" maxlength="9"
                                    required>
                                <!-- <input type="text" name="especificaciones" id="especificaciones" required>-->
                                <textarea name="especificaciones" id="especificaciones" cols="20" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="botones">
                            <button type="reset" value="Borrar">Borrar</button>
                            <button type="submit" value="Agregar">Agregar</button>
                        </div>
                    </form>
                </main>

                <%- include('../partials/footer.ejs') %>

        </div>
    </body>

</html>