<!DOCTYPE html>
<html lang="en">


<%- include('../partials/head.ejs', {Style: "CSS/Style.css" ,myStyle: "CSS/carrito.css" , title: "Mi Carrito" }) %>

    <body>
        <!-- Contenedo Principal del Body  -->
        <div class="main-body-container">
            <%- include('../partials/header.ejs') %>

                <!-- MAIN -->
                <main>
                    <h3>Mi CARRITO de Compras</h3>
                    <div class="container">
                        <section class="articulos">
                            <div class="containerArt">
                                <img src="/img/product/heladera.jpg" alt="" width="150px" height="150px">
                                <label for="number">Heladera ElectroHouse modelo 2023</label>
                                <input type="number" name="cantidad" id="" value="1" min="1" max="5">
                                <p>$ 300.000,00</p>
                                <a href="#"><i class="fa-regular fa-trash-can"></i></a>
                            </div>
                        </section>

                        <section class="carrito">
                            <label for="subtotal">
                                <div>
                                    <p>SubTotal:</p>
                                    <p>$ 300.000,00</p>
                                </div>
                                <div>
                                    <p>TOTAL</p>
                                    <p>$ 300.000,00</p>
                                </div>
                            </label>
                            <div class="botones">
                                <a href="/"><input type="submit" value="Finalizar Compra"></a>
                                <a href="/"><input type="submit" value="Seguir Comprando"></a>
                            </div>
                        </section>
                    </div>
                </main>

                <%- include('../partials/footer.ejs') %>
        </div>
    </body>

</html>