<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main-container">

        <main>
            <form action="/" method="all">
                
                <div><input type="text" placeholder="Nombre de Producto"></div>
                <div><input type="text" placeholder="Descripcion del Producto" size="100"></div>
                <div><input type="file" placeholder="Subir Imagen del Producto"></div>
                <div><select name="Categoria" id="categoria" >
                    <option value="Valor01">Valor01</option>
                    <option value="Valor02">Valor02</option>
                    <option value="Valor03">Valor03</option>
                    <option value="Valor04">Valor04</option>
                </select></div>
                <div><input type="text" placeholder="Especificaciones Tecnicas"></div>
                <div><input type="number" placeholder="Precio del Producto" min="0" max="999999999" maxlength="9"></div>
                <div><input type="text" placeholder="Descuento del Producto" min="0" max="999999999" maxlength="9"></div>

                <button type="submit">Agregar</button>
                <button type="submit">Modificar</button>
                <button type="reset">Borrar</button>
                
            </form>

        </main>
        

    </div>
</body>
</html>