<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <header class="header-main">
        <div class="header-main__bar-services">
            Barra de Servicios 
        </div>
            
        <div class="header-main__bar-logo">
            <img class="logoEH" src="img/ico/logo_EH_Verde.png" alt="Logo">
            <div>barra de busqueda mas boton</div>
            <div>(logo)login + (logo)carrito</div>
        </div>

        <nav class="nav-main">
            <div>
                MenuHamburguesa / Menu 
            </div>
        </nav>
        
    </header>
    
</body>
</html>