* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary-100: #0066CC;
    --primary-200: #5c93ff;
    --primary-300: #ccf6ff;
    --accent-100: #66CCFF;
    --accent-200: #006d9b;
    --text-100: #333333;
    --text-200: #5c5c5c;
    --bg-100: #ecf5ff;
    --bg-200: #e2ebf5;
    --bg-300: #343131;
    /* Header */
    --bg-bar-service: #e2ebec;
    --bg-logo-header: #04c4cc;
    /* Fuente Barra de Servicios */
    --font-bar-service: #767676;

    --primary-1000: #FFFFFF;
    --primary-2000: #e0e0e0;
    --primary-3000: #9b9b9b;
    --accent-1000: #FFCC00;
    --accent-2000: #916e00;
    --text-1000: #000000;
    --text-2000: #2c2c2c;
    --bg-1000: #04C4CC;
    --bg-2000: #00bac2;
    --bg-3000: #00939b;
}

h3 {
    text-align: start;
    margin: 20px;
}

main .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main .container .articulos {
    width: 70%;
    height: auto;
    border-top: 1px solid var(--text-200);

}

main .container .articulos .containerArt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

main .container .carrito {
    width: 30%;
    height: 200px;
    margin-top: 50px;
    border-top: 1px;
    border-left: 1px;
    border-color: var(--text-200);
    border-style: inset;
    background-color: rgb(206, 201, 201);
}

main .container .carrito label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .container .carrito label div {
    display: flex;
    flex-direction: row;
    margin-top: 20px;

}

main .container .carrito label div p {
    margin-right: 5px;
}

main .container .carrito .botones {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

main .container .carrito .botones button {
    width: 90%;
    margin: 5px auto;
    background-color: var(--accent-100);
    color: var(--bg-300);
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .container .carrito .botones button:hover{
    background-color: var(--primary-100);
    color: var(--bg-100);
    cursor: pointer;
}