* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary-100: #0066CC;
    --primary-200: #5c93ff;
    --primary-300: #ccf6ff;
    --accent-100: #66CCFF;
    --accent-200: #006d9b;
    --text-100: #333333;
    --text-200: #5c5c5c;
    --bg-100: #ecf5ff;
    --bg-200: #e2ebf5;
    --bg-300: #343131;
    /* Header */
    --bg-bar-service: #e2ebec;
    --bg-logo-header: #04c4cc;
    /* Fuente Barra de Servicios */
    --font-bar-service: #767676;

    --primary-1000: #FFFFFF;
    --primary-2000: #e0e0e0;
    --primary-3000: #9b9b9b;
    --accent-1000: #FFCC00;
    --accent-2000: #916e00;
    --text-1000: #000000;
    --text-2000: #2c2c2c;
    --bg-1000: #04C4CC;
    --bg-2000: #00bac2;
    --bg-3000: #00939b;
    ;
}

aside {
    float: right;
    width: 400px;
    padding: 20px;
    margin-right: 10px;
}

.alert-warning {
    border: solid 1px black;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #FFCC00;
    color: black;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

aside p {
    color: red;
}

main form {
    width: 450px;
    height: auto;
    border: 1.5px solid var(--bg-300);
    border-radius: 5%;
    margin: 20px auto;
    box-shadow: 7px 13px 37px var(--text-100);
}

main form h2 {
    text-align: center;
    margin: 20px;
}

main form .login {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

main form .login .register {
    width: 100%;
    display: flex;
    flex-direction: row;
}

main form .login .register label {
    width: 40%;
    height: 20px;
    margin: 12px auto;
    text-align: end;
    padding-right: 10px;
}

main form .login .register input {
    width: 60%;
    margin: 10px auto;
    height: 20px;
    text-align: start;
    padding-left: 10px;
}

main form .remember {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

main form .olvido {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

main form .olvido p {
    margin-bottom: 10px;
}

main form .botones {
    width: 70%;
    margin: 30px auto;
    text-align: center;
}

main form .botones button {
    width: 100px;
    height: 30px;
    background-color: var(--accent-100);
    color: var(--bg-300);
}

main form .botones button:hover {
    background-color: var(--primary-100);
    color: var(--bg-100);
    cursor: pointer;
}

/*************************************************************/

/*   POPUP    */
/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #04c4cc;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}