* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary-100: #0066CC;
    --primary-200: #5c93ff;
    --primary-300: #ccf6ff;
    --accent-100: #66CCFF;
    --accent-200: #006d9b;
    --text-100: #333333;
    --text-200: #5c5c5c;
    --bg-100: #ecf5ff;
    --bg-200: #e2ebf5;
    --bg-300: #343131;
    /* Header */
    --bg-bar-service: #e2ebec;
    --bg-logo-header: #04c4cc;
    /* Fuente Barra de Servicios */
    --font-bar-service: #767676;

    --primary-100: #FFFFFF;
    --primary-200: #e0e0e0;
    --primary-300: #9b9b9b;
    --accent-100: #FFCC00;
    --accent-200: #916e00;
    --text-100: #000000;
    --text-200: #2c2c2c;
    --bg-100: #04C4CC;
    --bg-200: #00bac2;
    --bg-300: #00939b;
}

table {
    width: 100%;
}

th {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    height: 60px;
}

td {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    height: 80px;
    text-align: center;
}

th,
td {
    border-bottom: 1px solid #ddd;
}

img {
    width: 100px;
}