
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* conteiner principal*/
.main-body-container {
    padding: 10px 0px;
    width: 98%;
    margin: auto;
    background-color: #ebebeb;
}

:root{
        --primary-100:#0066CC;
        --primary-200:#5c93ff;
        --primary-300:#ccf6ff;
        --accent-100:#66CCFF;
        --accent-200:#006d9b;
        --text-100:#333333;
        --text-200:#5c5c5c;
        --bg-100:#ecf5ff;
        --bg-200:#e2ebf5;
        --bg-300:#343131;
        /* Header */
        --bg-bar-service: #e2ebec;
        --bg-logo-header:#04c4cc;
        /* Fuente Barra de Servicios */
        --font-bar-service: #767676;
    
        --primary-1000:#FFFFFF;
        --primary-2000:#e0e0e0;
        --primary-3000:#9b9b9b;
        --accent-1000:#FFCC00;
        --accent-2000:#916e00;
        --text-1000:#000000;
        --text-2000:#2c2c2c;
        --bg-1000:#04C4CC;
        --bg-2000:#00bac2;
        --bg-3000:#00939b;
}


/*-------------***********   MAIN ***********-----------------*/

.producto_precio {
    color: #333333;
    font-weight: bold;
    background-color: var(--bg-1000);
    width: 360px;
    height: 550px;
    margin: 10px;
}

h1 {
    color: #006d9b;
    font-family: Verdana;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

.img-producto {
    border: solid 1px black;
    margin: 8px;
    width: 340px;
}

.precio {
    width: 370px;
    text-align: center;
    font-family: Verdana;
}

.tarjetas {
    margin-left: 20px;
    
}

.modelo-producto {
    margin: 20px;
}

.contenedor-producto {
    background-color: var(--bg-1000);
    width: 360px;
    height: 300px;
    margin-left: 10px;
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-producto p {
    text-align: center;
    margin-top: 10px;
}

.detalles {
    margin: 10px;
    background-color: var(--bg-1000);
    /* width: 90%; */
    padding: 10px;
    border: solid 2px var(--bg-3000);
    border-radius: 4%;
}

.detalles h3 {
    text-align: center;
    font-size: 18px;
    font-family: Verdana;
    line-height: 2;
}

#codigo-postal {
    width: 100px;
    margin: 0px 5px 0px 5px;
}

.bt-buscar{
    text-align: center;
    border-top: 1.5px solid var(--Negro);
    width: 60px;
}

.sucursal {
    margin-top: 10px;
  /*  margin-bottom: 20x;  */
    height: 30;
    text-align: center;
}
.form-CP{
    margin-top: 10px;
    display:flex;
    justify-content: center;
}

.agregar {
    margin-top: 20px;
    text-align: center;
    border-top: 1.5px solid var(--Negro);
    width: 150px;
    border-radius: 5px;
 }

 .agregar a {
    text-decoration: none;
 }


.info-del-producto {
width: 99%;

}

@media(min-width:600px) {
    .info-del-producto{
        display: flex;
        width: 98%;
        justify-content: center;
        }
}