<footer>
    <div class="container-footer">
        <div class="logo">
            <img src="/img/ico/logoEHV.png" alt="Logo">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>

        <div class="direccion">
            <h3>Dirección<i class="fa-solid fa-house"></i></h3>
            <ul>
                <li>Calle Falsa Nº 1234</li>
                <li>Lun-Sab 08:00 a 17:00</li>
            </ul>
        </div>

        <div class="consulta">
            <h3>Consultas<i class="fa-solid fa-envelope"></i></h3>
            <ul>
                <li>rrhh@electrohouse.com.ar</li>
                <li>consultas@electrohouse.com.ar</li>
            </ul>
        </div>

        <div class="telefono">
            <h3>Via de Comunicación<i class="fa-solid fa-square-phone"></i></h3>
            <ul>
                <li>0800-43210000<i class="fa-solid fa-phone"></i></li>
            </ul>
        </div>

        <div class="Whatsapp">
            <h3>Whatsapp<i class="fa-brands fa-whatsapp"></i></h3>
            <ul>
                <li>+54 (11) 43210000<i class="fa-brands fa-whatsapp"></i></li>
                <li>+54 (11) 43210100<i class="fa-brands fa-whatsapp"></i></li>
            </ul>
        </div>

        <div class="servicio">
            <h3>Servicio Tecnico<i class="fa-solid fa-screwdriver-wrench"></i></h3>
            <ul>
                <li>serviciotecnico@electrohouse.com.ar<i class="fa-regular fa-envelope"></i></li>
                <li>+54 (11) 43210200<i class="fa-brands fa-whatsapp"></i></li>
            </ul>
        </div>

    </div>
</footer>