<header class="header-main">
    <div>
        <!-- Barra de Servicios -->
        <div class="main-bar-services">
            <ul class="nav-bar-service">
                <li><a href="#"><i class="fa-solid fa-truck-fast"></i>Segui tu compra</a></li>
                <li><a href="#"><i class="fa-solid fa-gear"></i>Servicio Tecnico</a></li>
                <li><a href="#"><i class="fa-solid fa-store"></i>Sucursales</a></li>
                <li><a href="#"><i class="fa-solid fa-phone-volume"></i>Ventas telefonicas</a></li>
                <li><a href="#"><i class="fa-regular fa-comments"></i>Centro de Ayuda</a></li>
            </ul>
        </div>
        <!-- Barra Logo - Search - Menu Login/Carrito -->
        <div class="header-main__bar-logo">
            <div class="logoEH">
                <a href="/"><img src="/img/ico/logoEHV.png" alt="Logo"></a>
            </div>
            <div class="search-bar">
                <div>
                    <input type="text" placeholder="Buscar Productos, marcas..." name="buscar">
                </div>
                <div>
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>

            </div>
            <div class="nav-bar-user">
                <ul class="menu-user">
                    <li><a href="/Registro">
                            <p>Registrate</p><i class="fa-regular fa-address-card"></i>
                        </a></li>
                    <li><a href="/Login">
                            <p>Ingresar</p><i class="fa-regular fa-circle-user"></i>
                        </a></li>
                    <li><a href="/Carrito">
                            <p>Carrito</p><i class="fa-solid fa-cart-shopping"></i>
                        </a></li>
                </ul>
            </div>
        </div>
        <!-- Barra de Menu -->
        <nav class="nav-main">
            <div class="container-ul">
                <div class="home-burger"> <a href="/"><i class="fa-solid fa-house "></i></a> </div>
                <ul class="menu">
                    <li><a href="/">Inicio</a></i></li>
                    <li><a href="/agregarProducto">Electrodomesticos</a></li>
                    <li><a href="/editarProducto">Refrigeracion</a></li>
                    <li><a href="">Calefaccion</a></li>
                    <li><a href="">Hogar</a></li>
                    <li><a href="">Outlet</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>