<!DOCTYPE html>
<html lang="en">


<%- include('../partials/head.ejs', {myStyle: "login.css" , title: "Login" }) %>

    <body>
        <div class="main-body-container">
            <%- include('../partials/header.ejs') %>

                <!-- MAIN -->
                <main>
                    <form action="/" method="get">
                        <h2>Formulario LOGIN</h2>
                        <div class="login">
                            <div class="label">
                                <label for="usuario">Usuario</label>
                                <label for="password">Contrase単a</label>
                            </div>

                            <div class="input">
                                <input type="text" name="usuario" required>
                                <input type="password" name="password" required>
                            </div>
                        </div>
                        <div class="olvido">
                            <p>多No tenes cuenta ?<a href="/Registro"> CLICK AQUI </a></p>
                            <p><a href="#">多 Olvidaste tu contrase単a ?</a></p>
                        </div>
                        <div class="botones">
                            <button type="reset">Borrar</button>
                            <button type="submit">Ingresar</button>
                        </div>

                    </form>

                </main>

                <%- include('../partials/footer.ejs') %>
        </div>
    </body>

</html>